* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.portfolio {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.90) 100%), url('../assets/background1.jpg'), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* filter: blur(8px); */
    color: white;
    min-height: 100vh;
    width: 100vw;
}
.backgound{}

h1 span{
    color: #d69d48;
}
.btn-icons{
    display:  flex;
    justify-content: space-between;
}

.home-content {
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    padding-left: 20vw;
    width: 80vw;
}
.skillset{
    padding-top: 10vh;
}
p img{
    height:55px;
    width: 55px;
}
