* {
    padding: 0;
    margin: 0;

}

.projects {
    background-color: black;
    max-height: 250vh;
    width: 100vw;
    padding-top: 10vh;
    color: white;

}


.contact-title {}

.project-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */


}

.image-descr {}


.description-icons {
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    gap: 10vw;
    border-bottom: dashed #d69d48 2px;
}
.description-icons button{
background-color: #d69d48;
border-radius: 10px;
padding: 2%;
color: white;
}
.project-image img {

    width: 30vw;
    /* min-height: 25vh; */
    height: 30vh;
    flex-shrink: 0;
    border-radius: 20px;
    /* background: url(), lightgray 50% / cover no-repeat; */
    /* mix-blend-mode:luminosity; */
    border: solid white 1px;
}

.icons {
    max-width: 20px;
}

.description {
    width: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description p {
    padding: 3%;
    font-size: 0.7rem;
    text-align: center;
    position: relative;
}