:root {
  font-size: 25px;
}

.about {
  /* background-color: black; */
  padding-top: 10vh;
  height: 100vh;
  width: 100vw;

  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-size: 80vw 100vh; */

}

.about-content {
  padding-top: 5vh;
  padding-left: 20vw;
  width: 80vw;
  line-height: 5vh;
  font-size: 0.7rem;
  color: #ffffff;
  position: relative;
  display: block;
  text-align: center;

}

.about-content p {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.qualification {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* flex-direction: column; */
  /* align-items: center; */

  /* flex-wrap: wrap; */
  font-size: 1rem;
  color: #d79e48;
  padding-bottom: 5vh;
  /* max-width: 430px; */
}

.sub {
  display: flex;
  flex-direction: column;
}

.boxes {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;


}

.boxes div {
  width: 5rem;
  height: 15vh;
  font-size: 0.7rem;
  background-color: #d79e48;
  color: black;
  box-shadow: 1px 1px 8px 10px #535353;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}

/* .boxes div .btns{
  display: flex;
  flex-wrap: wrap;

} */
#btns{
  font-weight: bold;

}

.title {
  color: transparent;
  font-family: "IM FELL Great Primer SC-Regular";
  font-size: 0.5rem;
  font-weight: 400;
  width: 100vw;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.text-wrapper {
  color: #ffffff;
}

.title span {
  color: #d79e48;
}

#line {
  padding-left: 10%;
}

.line {
  margin-top: 5px;
  position: absolute;
  width: 80vw;
  padding: 0;
  border-top: #8F8F8F solid;
  display: flex;
  justify-content: center
}

.about-content {
  position: absolute;

}

@media (max-width: 781px) {

  .sub {
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: row;
    flex-wrap: wrap; */
  }

  .qualification {
    font-size: .5rem;
    font-weight: bold;
    gap: 8px;

  }

  .about {
    height: 150vh;
    text-align: center;
  }

  .about-content p {
    font-size: 0.5rem;
    line-height: 25px;

  }

  .boxes {
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */

  }

  .boxes div {
    width: 50vw;
    height: 10vh;
    margin: 3vh;
    margin-top: 5vh;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: #d79e48;
    color: black;
    box-shadow: 1px 1px 8px 10px #535353;
  }

  .btn {}
}