nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
  background: linear-gradient(to bottom right, black, black, black, rgb(44, 43, 43));
  z-index: 1;
}

.header-class {

  fill-opacity: 0.5;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.logo {
  height: 70px;
  left: 2%;
  object-fit: cover;
  position: relative;
  width: 70px;

  border: 0px none;
  border-radius: 50px;
  overflow-x: hidden;
}



nav ul li {

  list-style-type: none;
  font-family: "IM FELL Great Primer SC-Regular";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;


}

nav ul {
  display: flex;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;


}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #d69d48;
  font-weight: bold;

}

.btn-cv {
  border-radius: 18px;
  height: 1rem;
  width: 4rem;
  background-color: #d69d48;
  color: #ffffff;
  font-family: "IM FELL Great Primer SC-Regular";
  font-size: 20px;
  font-weight: 400;
  border: none;
  position: relative;
  margin-right: 3vw;
  cursor: pointer;

}
.btn-cv:hover{
  background-color: #000;
  border: #ffffff solid 1px;
  box-shadow: 8px 2px 5px 3px #d79e48;

}

/* 
  --------navbar responsivness using @media query-------------
   */


/* Hamburger Icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 2px 0;
  
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to bottom right, black, black, rgb(34, 34, 34), rgb(44, 43, 43));
    text-align: center;

  }

  .menu.open {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  ul li{
    padding: 2px;
    box-shadow: .8px 1px .8px 1px  #d79e48 ;
  }

  .logo {
    height: 50px;
    width: 50px;
    left: 0;

  }

  .menu-icon {
    display: flex;
  }

  .btn-cv {
    display: none;
  }
}

/* ---------router for navigation------------ */

