* {
    padding: 0;
    margin: 0;

}

.projects {

    background-color: #000000;
    max-height: 350vh;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 5vh;
    color: white;
    /* border-top: solid #D9D9D980 0.1px; */
}


.contact-title {
    padding-top: 5vh;
}

.project-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */


}


.description-icons {
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10vw;
    border-bottom: solid #2e2517 2px;
}

#bd {
    border-bottom: none;
}

.description-icons a button {
    cursor: pointer;
    background-color: #d69d48;
    border-radius: 18px;
    height: 1rem;
    width: 4rem;
    /* border-radius: 10px; */
    /* width: 100px; */
    padding: 2%;
    color: black;
    border: none;

}

.description-icons a button:hover {
    background-color: #000;
    border: #ffffff solid 1px;
    color: white;
    box-shadow: 2px 2px 1px 3px #d79e48;

}

.project-image img {

    width: 400px;
    height: 30vh;
    flex-shrink: 0;
    border-radius: 20px;
    border: solid white 1px;
    mix-blend-mode: luminosity;
    box-shadow: 2px 1px 5px 5px #9c9b9b;
}


#bank img:hover {
    mix-blend-mode: normal;
    box-shadow: 2px 1px 5px 5px maroon;
    border-radius: 20px;

}

#mzamo img:hover {
    mix-blend-mode: normal;
    box-shadow: 2px 1px 5px 5px #98962b;

}

#tax img:hover {
    mix-blend-mode: normal;
    box-shadow: 2px 1px 5px 5px rgb(6, 80, 141);
}

#simple img:hover {
    mix-blend-mode: normal;
    box-shadow: 2px 1px 5px 5px rgb(35, 6, 141);
}

.icons {
    max-width: 20px;
}

.description {
    width: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description p {
    padding: 3%;
    font-size: 0.7rem;
    text-align: center;
    position: relative;
}

@media (max-width: 992px) {
    #description-icons {
        display: flex;
        flex-direction: column-reverse;
    }

    .project-image img {
        width: 60vw;
        height: 20vh;
    }

    .description-icons {
        display: flex;
        flex-direction: column;
    }

    .projects {
        max-height: 400vh;
    }
}

@media (max-width: 480px) {
    .project-image img {
        width: 80vw;
        height: 20vh;
    }

    .projects {
        max-height: 400vh;
    }

    .description-icons h2 {
        font-size: 1rem;

    }

    .description-icons p {
        width: 80vw;
        font-size: 0.5rem;
    }

}

@keyframes imageAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);

    }

    50% {
        /* opacity: 0.5; */
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to the text elements */
.bounce {
    animation: imageAnimation 3s infinite;
}



.bounce {
   
    transition: transform 1s; /* Add a smooth transition to the transform property */
}

.bounce:hover {
    animation: shake 1s ease-in-out infinite; /* Apply the shake animation on hover */
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}