* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    position: relative;
    width: 100%;
    max-height:max-content;
/* background-color: aqua; */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.root {

    position: absolute;
}